@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700";
body {
	background: #456;
	font-family: 'Open Sans', sans-serif;
}
.login {
	width: 400px;
	margin: 16px auto;
	font-size: 16px;
	p {
		margin-top: 0;
		margin-bottom: 0;
		padding: 12px;
	}
	input {
		box-sizing: border-box;
		display: block;
		width: 100%;
		border-width: 1px;
		border-style: solid;
		padding: 16px;
		outline: 0;
		font-family: inherit;
		font-size: 0.95em;
	}
	input[type="email"] {
		background: #fff;
		border-color: #bbb;
		color: #555;
		&:focus {
			border-color: #888;
		}
	}
	input[type="password"] {
		background: #fff;
		border-color: #bbb;
		color: #555;
		&:focus {
			border-color: #888;
		}
	}
	input[type="submit"] {
		background: rgb(248, 143, 44);
		border-color: transparent;
		color: #fff;
		cursor: pointer;
		&:hover {
			background: rgb(248, 143, 44);
		}
		&:focus {
			border-color:rgb(248, 143, 44);
		}
	}
}
.login-header {
	margin-top: 0;
	margin-bottom: 0;
	background: rgb(248, 143, 44);
	padding: 20px;
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.login-triangle {
	width: 0;
	margin-right: auto;
	margin-left: auto;
	border: 12px solid transparent;
	border-bottom-color: rgb(248, 143, 44);
}
.login-container {
	background: #ebebeb;
	padding: 12px;
}
