<div class="container">
<h1>Capture Supplier quotation</h1>
<a href="#" routerLink="supplierquotation" class="btn btn-primary">Back</a>

<form [formGroup]="form" (ngSubmit)="submit()">
<div class="form-group">

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Item Name</mat-label>
    <input matInput placeholder="Item Name">
  </mat-form-field>

<mat-form-field class="full-width" appearance="fill">
    <mat-label>Quantity</mat-label>
    <input matInput placeholder="Quantity">
  </mat-form-field>

<mat-form-field class="full-width" appearance="fill">
    <mat-label>Unit Price</mat-label>
    <input matInput placeholder="Unit Price">
  </mat-form-field>

<mat-form-field class="full-width" appearance="fill">
    <mat-label>Total Cost</mat-label>
    <input matInput placeholder="Total Cost">
  </mat-form-field>

</div>

<button class="btn btn-primary" type="submit">Save details</button>
</form>

</div>
