<div class="container" >
    <h1>View Supplier</h1>
  
    <a href="#" routerLink="supplier" class="btn btn-primary">Back</a>
   
    <div>
        <strong>Supplier Name</strong>
        <p>{{suppliers.supplierName}}</p>
    </div>
   
    <div>
        <strong>Email</strong>
        <p>{{suppliers.supplierEmail}}</p>
    </div>
   
    <div>
        <strong>Telephone</strong>
        <p>{{ suppliers.supplierTelephone}}</p>
    </div>

    <div>
        <strong>Address</strong>
        <p>{{ suppliers.supplierAddress}}</p>
    </div>
   
  
</div>