<div class="container" >
    <h1>View Task</h1>
  
    <a href="#" routerLink="task" class="btn btn-primary">Back</a>
   
    <div>
        <strong>Task Name</strong>
        <p>{{task.taskName}}</p>
    </div>
   
    <div>
        <strong>Phase Name</strong>
        <p>{{task.phaseName}}</p>
    </div>
   
    <div>
        <strong>Task Description</strong>
        <p>{{ task.taskDescription}}</p>
    </div>

    <div>
        <strong>Start Date</strong>
        <p>{{ task.startDate}}</p>
    </div>
   
   <div>
        <strong>End Date</strong>
        <p>{{ task.endDate}}</p>
    </div>

    <div>
        <strong>Equipment needed</strong>
        <p>{{ task.taskEquipment}}</p>
    </div>

</div>
