<p>
    <mat-toolbar>
        <span class="blue">Place Order</span>
    </mat-toolbar>
</p>

<div class="content container">

    <div class="row">
        <h3>Please enter order information</h3>
    </div>




    <div class="row">
        <form>
            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Supplier:</span>
                        </div>
                        <select class="form-control">
                            <option></option>
        
                          </select>
                    </div>

                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Item Name:</span>
                        </div>
                        <input type="text" class="form-control">


                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Quantity:</span>
                        </div>
                        <input type="number" class="form-control" min="1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Quoted Price:</span>
                        </div>
                        <input type="text" class="form-control">


                    </div>

                </div>
            </div>



            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-primary">Place Order</button>
                </div>
                <div class="col-6 ">
                    <button type="button" class="btn btn-danger float-right" routerLink="/orders">Cancel</button>
                </div>
            </div>
        </form>

    </div>




</div>

<ng-template #confirm let-modal>
    <div class="modal-header alert alert-success">
        <h3 class="modal-title text-center" style="text-align: center">Confirmation</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="exampleFormControlInput1">Are you sure you want to place this order?</label
>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
            <div class="col-6 ">
                <button type="button" class="btn btn-danger" (click)="modal.dismiss()">No</button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #success let-modal>
    <div class="modal-header alert alert-success">
        <h3 class="modal-title text-center" style="text-align: center">Success</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="exampleFormControlInput1">The order has been successfully placed!</label
>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-primary" (click)="modal.dismiss()">
Ok
</button>
    </div>
</ng-template>