<div class="container">
<h1>Add task</h1>
<a href="#" routerLink="task" class="btn btn-primary">Back</a>

<form [formGroup]="form" (ngSubmit)="submit()">
<div class="form-group">
<label>Task Name</label>
<input type="text" class="form-control">

<label>Phase Name</label>
<input type="text" class="form-control">

<label>Task Description</label>
<input type="text" class="form-control">

<label>Start Date</label>
<input type="date" class="form-control">

<label>End Date</label>
<input type="date" class="form-control">


<label>Equipment needed</label>
<input type="text" class="form-control">

</div>

<button class="btn btn-primary" type="submit">Add</button>
<a href="#" routerLink="tender" class="btn btn-danger">Cancel</a>

</form>

</div>



